wp-content/uploads/
wp-config.php
.htaccess
.htpasswd
.idea
.DS_Store
wp-content/plugins/acf-php-recovery.php
/wp-content/themes/korona/blocks/block-example/
/wp-content/plugins/advanced-custom-fields-pro/
/wp-content/plugins/updraftplus
/wp-content/plugins/sitepress-multilingual-cms
/wp-content/plugins/wp-seo-multilingual
/wp-content/updraft
/tools/cache-api/*.json
/tools/update-content/config.php
/static/*
/wp-content/languages/
